.DC {
  background-image: linear-gradient(to bottom, #d91c1f, #13418b);
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #13418b);
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #13418b);
}

.KKR {
  background-image: linear-gradient(to bottom, #4f5db0, #13418b);
}

.RR {
  background-image: linear-gradient(to bottom, #5755a7, #13418b);
}

.MI {
  background-image: linear-gradient(to bottom, #4f5db0, #13418b);
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #13418b);
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #13418b);
}

.totalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Bree Serif';
}
.teamBanner {
  width: 100%;
}
.matchesAllContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.li,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
